.container {
    padding: 1rem 2rem 0 2rem;
   /* center to page */
    margin: 0 auto;
    border-radius: 20px;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.image{
    width: 50%;
    object-fit: cover;
    margin: 0 auto;
    position: relative;
    border-radius: 25px 25px 0 0;
    pointer-events: none;
}

.button{
    background: rgb(255, 255, 255, 0.1);
    border-radius: 5px;
    border: 0px;
    height: 35px;
    color: white;
    font-size: larger;
    font-weight: bold;
}

.link:hover{
    color: white;
    text-decoration: none;
}